@charset "utf-8";


@font-face{
    font-family: 'ethno';
    src: url('font/EthnocentricRg-Regular.woff') format('woff'),
        url('font/EthnocentricRg-Regular.svg#EthnocentricRg-Regular') format('svg'),
        url('font/EthnocentricRg-Regular.eot'),
        url('font/EthnocentricRg-Regular.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
a{
	text-decoration:none;
	color:#DB0003;
}
a:hover
{
	color:#FF0000;
	cursor:pointer;
}
::selection{
	background-color:#FF0004;
}
.wrapper {
	height: auto;
	width: 100%;
	margin-top: -8px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}

body{
	background-image: url(../images/background.jpg);
	background-attachment: fixed;
	background-color:#000000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-width: 1280px;
}

.nav{
	position:fixed;
	font-family: 'ethno';
	font-size: 16px;
	margin-left:-8px;
	width:101.25%;
	height: 45px;
	background: #000;
	z-index:100;
    }

.nav ul {
    list-style-type: none;
    margin:0px;
    padding: 0px;
    }
.nav a{
	height:45px;
	padding:0px 17px;
	line-height:45px;
	text-align:center;
	margin-left:0px;
	display: block;
	color: #FFFFFF;
     }
.nav a:hover{
	background-color: #AB0000;	
}
.nav li{
     float:left;
     color:#FFFFFF;
     }

#newlogo{
	position:relative; 
	top: 50%;
	-webkit-transform: translate(-0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.bod {
	width:984px;
	min-height: 400px;
	background-color: rgba(0,0,0,0.76);
	padding-top:45px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-left:auto;
	margin-right:auto;
}
h1,h2,h3,h4 
{
	color: #ffffff;
	font-family: 'ethno', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0px;
}
h4 span
{
	color:#ffffff;
}
h1 span,h2 span,h3 span, h4
{
	color: #FF0004;
}
#index
{
	font-size: 1.5em;
	margin-left: 61px;
	position: relative;
	padding-bottom: 24px;
}
.pghd /*page heading in body*/
{
	margin-left: 22px;

}
#logo
{
	display: block;
	float: right;
	margin-right: 5px;
	margin-top: 39px;
	margin-left: 20px;
}
ul.index {
	list-style-image: url(../images/bullet.png);
}
ul.index li{
	margin-bottom:10px;
}
p, ol, ul, .kthumb
{
	color: #EFEFEF;
}
p b, .scrollerota b
{
	color:#ff0000;
}
.manu
{
	height: 200px;
	width: 300px;
	display: inline-block;
	text-align: center;
	margin-top: 31px;
	margin-right: 18px;
	margin-bottom: 31px;
	margin-left: 18px;
	position:relative;
}
.manu a:hover img{
	background-color:rgba(255,0,4,0.7);
}
.pop     /*pop up car selector in gallery*/
{
	display:none;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 525px;
	height: 442px;
	background-color: rgba(250,250,250,0.9);
	-webkit-box-shadow: 0px 0px 40px #ff0000;
	-moz-box-shadow: 0px 0px 40px #ff0000;
	-o-box-shadow: 0px 0px 40px #ff0000;
	box-shadow: 0px 0px 40px #ff0000;
	z-index: 3;
	overflow: auto;
	padding-bottom: 15px;
	margin-bottom: 100px;
}
.pop>a, a.close
{
	float: right;
	font-weight: bold;
	color: #000000;
	margin-top: 3px;
	margin-right: 10px;
	border: 1px  solid rgba(0,0,0,1.00);
	border-radius: 50%;
	height:24px;
	width:24px;
	text-align:center;
}	
.pop>a:hover, a.close:hover{
	color:#E90003;
	border: 1px  solid #E90003;
}

.pop div
{
	width: 220px;
	margin-top: 7px;
	margin-right: 16px;
	margin-bottom: 7px;
	margin-left: 16px;
	float: left;
}
.pop div a
{
	color:rgba(158,0,2,1.00);
}
/*.pop a img
{
	border:1px solid rgba(250,250,250,0);
}*/
.pop a:hover img
{
	-webkit-box-shadow: 0px 0px 20px #dd0000;
	-moz-box-shadow: 0px 0px 20px #dd0000;
	-o-box-shadow: 0px 0px 40px #dd0000;
	box-shadow: 0px 0px 20px #dd0000;
	/* border: 1px solid #FF0004; */
}
.pop>a+div
{
	clear:both;
}
.left
{
	float: left;
	width: 248px;
	margin-top: 15px;
	display: inline-block;
}
.left a:hover
{
	font-weight:bold;
}
.desc
{
	width: 725px;
	margin-left: 11px;
	display: inline-block;
}
.desc>a{
	float:right;
	margin-bottom:4px;
}
.ri-grid span
{ 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}   
.list /*top 10*/
{
	float: left;
	position: relative;
	margin-left: 60px;
	height: 405px;
}
.list a
{
	position:absolute;
	left:0;
	bottom:0;
}
.hold{
	margin-bottom:30px;
}
.grdcnt /*grid container*/
{
	float:left;
	margin:30px 0px 30px 30px;
}
.kslide{
	clear: both;
	display: none;
	width:1024px;	
	position: relative;
	left: -20px;
	
	background-color: rgba(19,19,19,0.78);
	width: 960px;	
	padding-top: 3px;
	padding-right: 32px;
	padding-bottom: 11px;
	padding-left: 32px;
	} 
.klside h2, .klside a{
	margin-left: 14px;
}
a.close{
	color: #ffffff;
	border: 1px  solid rgba(255,255,255,1.00);
	margin-right: 0px;
	margin-bottom: 7px;
}
.kslide h2{
	display:inline-block;
}
.close~a:hover, .scrollerota .text a:hover{   /*view specs link */
	text-decoration:underline;
}
.arr{		/* pyramid arrow*/
	display:none;
	margin-right: auto;
	margin-left: auto;
	height: 27px;
	width: 77px;
	opacity:0.78;
	background: url(../images/vert/arr.png);
}
.kthumb
{
	float: left;
	width: 210px;
	height: auto;
	text-align: center;
	margin-top: 18px;
	margin-right: 18px;
	margin-left: 18px;
}
.kthumb a{
	margin-bottom:1px;
	opacity:0.8;
}
.kthumb a:hover{
	opacity:1;
}
.kthumb .back{
	width:210px;
	background-color:rgba(0,0,0,0.5);
}
a.close{
	color: #ffffff;
	border: 1px  solid rgba(255,255,255,1.00);
	margin-right: 0px;
	margin-bottom: 7px;
}
.kslide h2{
	display:inline-block;
}
#dp{
	height:195px;
	width:195px;
	float: left;
	margin-top: 19px;
	margin-right:10px;
	border:solid 1px #5D5D5D;
	position:relative;
}
#dp a{
	display:block;
	height:100%;
	width:100%;
	text-align:center;
}
#dp span{
	position: absolute;
	top: 50%;
	left: 17%;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
#dp img{
	display:none;
}
