.honeycombs{
	margin-top:20px;
	position: relative;
	overflow: hidden;
	width: 100%;
	text-align: center;
}
.honeycombs.h{
  display:none;
}
.honeycombs .inner_span{
	display: block;
	position:absolute;
	z-index:2;
	height: 100%;
	width: 100%;
	background-color: #f7cd07;
	font-family: sans-serif;
	color: #000;
}

.honeycombs .inner-text{
	padding-top: 30%;
}

.honeycombs .honeycombs-inner-wrapper{
	display: inline-block;
	overflow: hidden;
	width: 700px;
	position: relative;
	height: 1200px;
}

.honeycombs .comb{
	position: absolute;
	display: inline-block;
}
.comb a{
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	z-index:1;
	display:block;
}

.honeycombs .hex_l,
.honeycombs .hex_r{
	overflow: hidden;
	position: absolute;
	/* -webkit-backface-visibility: hidden; */
}

.honeycombs .hex_l{
	visibility: hidden;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}

.honeycombs .hex_r{
	visibility: hidden;
	-moz-transform: rotate(-120deg);
	-ms-transform: rotate(-120deg);
	-o-transform: rotate(-120deg);
	-webkit-transform: rotate(-120deg);
	transform: rotate(-120deg);
}

.honeycombs .hex_inner{
	display: none;
	visibility: visible;
	-moz-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	-o-transform: rotate(60deg);
	-webkit-transform: rotate(60deg);
	
	transform: rotate(60deg);
	
	background-position: center;
  	background-size:cover;
	background-repeat:no-repeat;
	background-color: rgba(190,0,2,0.72);
	
	cursor: pointer;
	
}
#manu .hex_inner{
		background-size:70%;
}
.honeycombs .hex_inner:hover, .honeycombs .hex_inner:active {
		background-color: rgba(190,0,2,1);
}
.b .hex_inner, .b .hex_inner:hover, .b .hex_inner:active{
	background-color:rgba(255,255,255,0.90);
	background-size:60%;
}
/*
.b .hex_inner:hover, .b .hex_inner:active {
		background-color:rgba(243,243,243,0.80);
}*/
	

